<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BarbequeNation.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>7165BA130D21D4AA723824A6FE4F1CB926F9DEF2</string>
				<key>dateExpires</key>
				<string>05/04/19</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>UGC47X2CKE.com.app.BarbequeNation</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>UGC47X2CKE</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>BarbequeNation.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>840a8719-4b07-4a9e-b9a3-48851f3398b1</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.app.BarbequeNation</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>UGC47X2CKE</string>
				<key>name</key>
				<string>BARBEQUE NATION HOSPITALITY LIMITED</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
